body > div{
    display: inline-block;
    width: 700px;
    margin-left: calc(( 100% - 700px ) / 2);
    font-family: Arial, Helvetica, sans-serif;
    color: #9E9E9E;
}

header{
    display:inline-block ;   
    width: 100%;
}

header > img{
    display: inline-block;
    float: left;
    height: 40px;
    margin-left: 5px;
}

nav{
    display: inline-block;
    float: right;
}

a{
    display: inline-block;
    float: left;
    color: #9E9E9E;
    text-decoration: none;
    padding: 5px ;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 20px;
    margin-top: 10px;
}

a:nth-of-type(5){
    border: 3px solid #9E9E9E ;
    margin-top: - 3px;
    margin-left: 15px;
    text-transform: uppercase;
    border-radius: 18px;
}


main{
    display:inline-block ;   
    width: 100%;
    margin-top: 20px;

}

main > div{
    display: inline-block;
    width: 40%;
    margin-left: 5%;
    margin-top: 30px;
}


h1{
    display: inline-block;
    width: 100%;
    font-size: 60px;
    margin: 0;
}

p{
    display: inline-block;
    width: 100%;
    font-size: 23px;
    margin: 0;
}

main > img{
    display: inline-block;
    float: right;
    width: 40%;
    margin-left: 7%;
}
